body {
    background-color: #b1abab;
    color: rgb(0, 0, 0);
      font-family: 'Oswald', sans-serif;
  }
 
  .example-photo {
    width: 500px;
    height: auto;
  }

  .header h1,ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }

  .header li {
    float: right;
  }

  .header li,a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header h1,li a:hover {
    background-color: #111;
  }

  .intro-to-snooget {
    display: block;
  }

  .intro-to-snooget button {
    position: relative;
    float: left;
    margin-top: 150px;
    background-color: darkgreen;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: large;
    border-radius: 12px;
  }

  .intro-to-snooget h2 {
    font-size: 30px;
    vertical-align: middle;
    position: absolute;
  }

  .intro-to-snooget p {
    font-size: 18px;
    vertical-align: middle;
    position: absolute;
    line-height: 200px;
  }

  .intro-to-snooget img {
    float: right;
    position: relative;
    height: 400px;
    width: auto;
    display: block;
    margin-bottom: 0%;
  }

  .intro-to-snooget-2 {
    display: inline-block;
    margin-top: 100px;
    margin-left: 15%;
    text-align: center;
  }

  .intro-to-snooget-2 h2 {
    font-size: 30px;
  }

  .intro-to-snooget-2 p {
    font-size: 18px;
  }

  .figure-1-hp {
    display: inline-block;
  }

  .figure-2-hp {
    display: inline-block;
  }

  .figure-3-hp {
    display: inline-block;
  }