body {
    background-color: #b1abab;
    color: rgb(0, 0, 0);
      font-family: 'Oswald', sans-serif;
  }
  
  header {
    text-align: center;
    margin-top: 5px;
  }
 
  .example {
    width: 500px;
    height: auto;
  }