body {
    background-color: #b1abab;
    color: rgb(0, 0, 0);
      font-family: 'Oswald', sans-serif;
  }
 
  .example-photo {
    width: 500px;
    height: auto;
  }

  .header h1,ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
  }

  .header li {
    float: right;
  }

  .header li,a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .header h1,li a:hover {
    background-color: #111;
  }

  .intro-to-snooget {
    position: relative;
    text-align: left;
  }

  .intro-to-snooget img {
    float: right;
    position: relative;
    height: 400px;
    width: auto;
  }